.contain{
    width: 75%;
    margin: 10px auto;
}

.blocks{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: inherit;
}

.blocks__item{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    background-color: brown;
}